//colors
$black: black;
$white: #fff;
$lightgreen: rgb(223, 129, 231);
$darkgreen: #f7580f;
// $lightgreen: rgb(105, 240, 72);
// $darkgreen: rgb(12, 167, 58);
// $light-orange: #eea73b;
// $dark-orange: #f7580f;
$red: red;
$light-orange: rgb(105, 240, 72);
$dark-orange: rgb(12, 167, 58);
$light-blue: #2390f7;
$dark-blue: #240ee9;

$grey: #eee;
$grey3: #999;
$grey4: #333;
$grey5: #777;

$gray: gray;
$white2: #f7f7f7;

//font
$default-font: 1.6rem;

//grid
$grid-width: 114rem;
$gutterH: 6rem;
$gutterV: 8rem;
$gutterV-small: 6rem;
